@font-face {
    font-family: oxyBold;
    src: url(Oxygen-Bold.ttf);
  }
 
  @font-face {
    font-family: oxyLight;
    src: url(Oxygen-Light.ttf);
  }
 
  @font-face {
    font-family: oxyRegular;
    src: url(Oxygen-Regular.ttf);
  }
 


body
{
    background-color: #E5EBF1;
}

h1
{
    font-family: oxyBold;
    color: #404e5c;
    text-transform: uppercase;  
    font-size: 32px !important;
    line-height: 40px;
    
}
h2
{
    font-family: oxyBold;
    color: #404e5c;
    text-transform: uppercase;  
    font-size: 20px !important;
    line-height: 30px;
    
}

h4
{
    font-family: oxyBold;
    color: #404e5c;
    text-transform: uppercase;  
    font-size: 16px !important;
    line-height: 20px;
    
}

.searchbar-label
{
    font-family: oxyRegular;
    color: #404e5c;
    text-transform: uppercase;  
    font-size: 14px !important;
    font-weight: 500;
    line-height: 26px;
    
}

.view-all-text
{
    color: #404e5c;
    font-size: 14px;
    font-family: oxyRegular;
    text-transform: capitalize;  


}

.view-all-text a
{
    text-decoration: none;
    color: #404e5c;

}

.view-all-text a:hover
{
    color: black;
}

.heading-row-title
{
    margin-top: 50px;
 
}

.anime-grid-list-image
{
    border-radius: 10px;
    width: 100%;
    height: 85%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

}

.anime-grid-list-characters-image
{
    border-radius: 50px;
    width: 100%;
    height: 80%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

}

.anime-detail-characters-role
{
    font-size: 14px;
    color: #54229E;
    font-size: 10px;
    line-height: 12px;
    font-family: oxyBold;
}
.anime-grid-list
{
    margin-top: 50px;
}

.anime-title-list-grid
{
    margin-top: 6%;
    margin-bottom: 10%;
    text-align: center;
    color: #54229E;
    font-size: 12px;
    line-height: 20px;
    font-family: oxyBold;
    text-transform: capitalize;  
}

.anime-title-list-grid:hover
{
    color: black; 
}

.extra-padding-container
{
    padding-left: 2%;
    padding-right: 2%;
 
}


.extra-padding-container-anime-detail
{
    padding-left: 10%;
    padding-right: 10%;

}


.write-review-btn-detail-page
{
    background-color: #F9AC04;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 80%;
    margin-top: 4px !important;
    margin-left: 3px;
    border-radius: 15px;
    font-size: 14px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
    text-decoration: none !important;
}

.add-to-favourite-btn-detail-page:hover
{
    
    background-color: #fff;
    color: #EC294B !important;
    border:solid 1px #EC294B!important;

}


.write-review-btn-detail-page:hover
{
    background-color: #fff;
    color: #54229E !important;
    border:solid 1px rgba(10, 37, 64, 0.35) !important;

    
}

.add-to-favourite-btn-detail-page
{
    background-color: #EC294B;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 80%;
    margin-top: 4px !important;
    margin-left: 3px;
    border-radius: 15px;
    font-size: 14px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
    text-decoration: none !important;
}



.genres-detail-page
{
    background-color: #54229E;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding:6px;
    width: 133px;
    margin-top: 4px !important;
    margin-left: 3px;
    border-radius: 15px;
    font-size: 14px !important;
    font-family: oxyRegular;
    text-align: center;
    color: white;
}

.anime-detail-page-views
{
    color: #4B5961!important;
    font-size: 14px;
    line-height: 16px;
    font-family: oxyBold;
}

.text-decor
{
    text-decoration: none;
}


.my-footer
{
    background-color: #2B2D42;
    color: #E5EBF1;
}

.footer-color
{
    color: #E5EBF1;
}

.my-navbar
{
    margin-top: 2%;
    background-color: #54229E;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.my-navbar-color-item
{
    color: whitesmoke !important;
    font-size: 14px;
    line-height: 16px;
    font-family: oxyRegular;
    
}

.anime-detail-anime-cover-image
{
    border-radius: 10px;
    border: solid 6px #54229E;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.anime-detail-below-cover-genere
{
    margin-top:10px;
    color: #404e5c;
    font-size: 16px;
    line-height: 20px;
    font-family: oxyRegular;
}

.anime-detail-anime-title-des-section
{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    border-radius: 10px;
    background-color: white;
    padding: 4%;
}

.anime-detail-anime-title
{
    color: #54229E !important;
    font-size: 30px;
    line-height: 40px;
    font-family: oxyBold;
}

.anime-detail-anime-synopsis
{
    color: #4B5961 !important;
    font-size: 22px;
    line-height: 32px;
    font-family: oxyRegular;
}

.anime-detail-anime-trailer
{
    color: #4B5961 !important;
    font-size: 24px;
    line-height: 32px;
    font-family: oxyBold;
}

.anime-detail-anime-des
{
    color: #4B5961 !important;
    font-size: 16px;
    line-height: 26px;
    font-family: oxyRegular;
}

.anime-detail-anime-cover img
{

    background-image: url('https://s4.anilist.co/file/anilistcdn/media/anime/banner/141391-JErChZ8G3b49.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 0% 10% 0%;
    opacity: 0.6;
    filter: blur('12%');

}


.anime-detail-page-source-text 
{
    color: #4B5961 !important;
    font-family: oxyRegular;
    text-decoration: none;
}


.anime-detail-page-source-text a
{
    color: #4B5961 !important;
    font-family: oxyRegular;
    text-decoration: none;
}

.anime-detail-news-card
{
    background: #FBFBFB;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 4px;
    display: inline-grid;
    height: 265px;
    min-width: 370px;
    padding:20px;
    margin-bottom: 4%;
}

.detail-news-image
{
    width: 140px;
    height: 230px;
}

.detail-news-title
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 18px;
    text-decoration: none;
}


.detail-news-des
{
    color: #4B5961 !important;
    font-family: oxyLight;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}

.deatil-news-date
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 12px;
    text-decoration: none;
}

.anime-detail-info-grid a
{
    text-decoration: none;
}

.anime-detail-info-grid
{
    background: #FBFBFB;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin:6px;    
}

.anime-detail-info-grid-title
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 16px;
    text-decoration: none;
}

.anime-detail-info-grid-text
{
    color: #4B5961 !important;
    font-family: oxyLight;
    font-size: 14px;
    text-decoration: none;
}

/* search page */

.searched-item-row
{
    background: #FBFBFB;
    box-shadow: rgb(84, 34, 158) 0px 25px 20px -20px;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
    margin:3% 6px 6px 6px;
}


.searched-item-image img
{
    width: 70px;
    height: 100px;

}

.searched-item-title
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 16px;
    text-decoration: none !important;
    
}

.searched-item-rating
{
    color: #4B5961 !important;
    font-family: oxyLight;
    font-size: 12px;
    text-decoration: none !important;
    
}

.searched-item-score
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 14px;
    text-decoration: none !important;
    
}

.searched-item-type
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 14px;
    text-decoration: none !important;
    
}

.searched-item-status
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 14px;
    text-decoration: none !important;
    
}
/* search page */


/* review module */

.anime-review-list-card
{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    margin-bottom: 14%;
}

.review-card-title
{
    color: #4B5961 !important;
    font-family: oxyBold;
    font-size: 16px !important;
    text-decoration: none !important;
}


.review-card-description
{
    color: #1E1E1E !important;
    font-family: oxyBold;
    font-size: 14px !important;
    text-decoration: none !important;
}


.review-card-username
{
    color: #1E1E1E !important;
    font-family: oxyBold;
    font-size: 14px !important;
    text-decoration: none !important;
}

.review-card-like-thumbsup
{
    font-size: 16px;
    color: #000;
    font-family: oxyRegular;
}

.review-card-like-thumbsdown
{
    font-size: 16px;
    padding-left: 10px;
    color: #54229E;
    font-family: oxyRegular;
}

.review-detail-page-featured-banner
{
    padding: 0%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
        
}

.review-detail-page-cards
{
    padding:2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    margin: 9px 16px 9px 16px;
}

.review-detail-card-value
{
    font-size: 24px;
    color: #54229E;
    font-family: oxyBold;
}

.review-detail-card-title
{
    font-size: 16px;
    color: #1E1E1E ;
    font-family: oxyRegular;
}

.review-section
{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:50px;
    margin-top: 30px;
    margin-bottom: 60px;

}


.review-section-title
{
    color: #1E1E1E ;
    font-family: oxyBold;
}

.review-section-username
{
    color: #1E1E1E ;
    font-family: oxyRegular;
    margin-bottom: 4%;
    text-transform: capitalize;
}



.review-detail-likes-section
{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}
/* review module */


/* Site Stats */



.site-stats-card
{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(84, 34, 158)  0px 3px 10px;
    margin-top:10px;

}

.site-stats-counter
{

    padding: 20px;
    color: #54229E;
    font-family: oxyBold;
    

}
.site-stats-icon
{
    font-size: 20px !important;
}


.site-stats-title
{
    padding: 20px;
    color: #1E1E1E;
    font-size: 14px;
    font-family: oxyRegular;
}

/* Site Stats */


/* home */

.home-main-section
{
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 4px;

    background-color: #683BAB;
    border-radius: 10px;
    padding: 46px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.home-main-section h1
{
    color: white;
}


.home-main-section h2
{
    color: white;
}


.home-main-section-text
{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    padding-top: 20px;
    font-family: oxyRegular;

}


/* home */

/* zoom effect */

.zoom {
    
    transition: transform .6s;
    
  }
  
  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
 
  }
/* zoom effect */




/* search bar */

.searchbar-custom
{
    padding: 3%;
    color: #683BAB !important;
    font-size: 18px;
    line-height: 22px;
    font-family: oxyBold;

}

.searchbar-custom:focus
{
    border: solid 1px white !important;
}

/* search bar */


/* ribbon tag */

.ribbon-tag 
{ 
    font-size: 14px;
    font-family: oxyBold;
    text-align: center;
    -webkit-transform: rotate(311deg);
    -moz-transform: rotate(311deg);
    -ms-transform: rotate(311deg);
    -o-transform: rotate(311deg);
    position: relative;
    padding: 6px 0;
    left: -13px;
    top: 26px;
    opacity: 0.9;
    width: 71px;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgb(0 0 0 / 30%);
    text-shadow: rgb(255 255 255 / 50%) 0px 1px 0px;
    background: #54229E;
}


/* Login Signup */


.custom-btn-singup
{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: oxyRegular;
    background-color: black;
    width: 120px !important;
    margin-left: 10px;
    margin-bottom: 2%;
    



}

.my-navbar
{
    padding:20px;
}

.custom-btn-singup:hover
{
    background: #fff !important;
    color: #683BAB !important;

}

.custom-btn-login
{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: oxyRegular;
    background-color: black;
    width: 120px !important;
    margin-bottom: 2%;


}

.custom-btn-login:hover
{
    background: #fff !important;
    color: #683BAB !important;

}


.registeration-card
{
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
    padding:30px;
    margin-top:30px !important;
}

.auth-user-navbar
{
    color: whitesmoke !important;
    font-size: 14px !important;

    font-family: oxyRegular !important;

}

/* Login Signup */


.title-bg-homepage
{
    background-color: #683BAB !important;
    width: 32% !important;
    padding: 6px;
    border-radius: 20px;
    font-size: 16px !important;
    text-align: center;
    color:whitesmoke !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


